apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ kustom.namespace }}
resources:
  - https://raw.githubusercontent.com/longhorn/longhorn/{{ software.longhorn.version }}/deploy/longhorn.yaml

configMapGenerator:
  - name: registry-source
    literals:
      - registry={{ kustom.namespace }}
    options:
     annotations:
      config.kubernetes.io/local-config: "true"

replacements:
  - source:
      kind: ConfigMap
      name: registry-source
      fieldPath: data.registry
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - spec.template.spec.containers.*.image
        options:
          delimiter: "/"
          index: 0
      - select:
          kind: DaemonSet
        fieldPaths:
          - spec.template.spec.containers.*.image
        options:
          delimiter: "/"
          index: 0
  - source:
      kind: ConfigMap
      name: registry-source
      fieldPath: data.registry
    targets:
      - select:
          kind: Deployment
          name: longhorn-driver-deployer # This one specifically uses initContainers
        fieldPaths:
          - spec.template.spec.initContainers.*.image
        options:
          delimiter: "/"
          index: 0
patches:
  - target:
      kind: ConfigMap
      name: longhorn-default-setting
    patch: |-
      - op: replace
        path: /data/default-setting.yaml
        value: |
          log-level: info
  - target:
      kind: Deployment
      name: longhorn-driver-deployer
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: KUBELET_ROOT_DIR
          value: /var/lib/kubelet/
  - target:
      kind: Deployment
      name: longhorn-driver-deployer
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: longhorn-driver-deployer
      spec:
        template:
          spec:
            containers:
              - name: longhorn-driver-deployer
                env:
                  # This variable tells the deployer which image to use for the CSI Plugin DaemonSet
                  - name: LONGHORN_DRIVER_IMAGE
                    value: {{ kustom.namespace }}/longhorn-manager:{{ software.longhorn.version }}
                  - name: CSI_ATTACHER_IMAGE
                    value: {{ kustom.namespace }}/csi-attacher:v4.10.0-20251030
                  - name: CSI_PROVISIONER_IMAGE
                    value: {{ kustom.namespace }}/csi-provisioner:v5.3.0-20251030
                  - name: CSI_RESIZER_IMAGE
                    value: {{ kustom.namespace }}/csi-resizer:v1.14.0-20251030
                  - name: CSI_SNAPSHOTTER_IMAGE
                    value: {{ kustom.namespace }}/csi-snapshotter:v8.4.0-20251030
                  - name: CSI_NODE_DRIVER_REGISTRAR_IMAGE
                    value: {{ kustom.namespace }}/csi-node-driver-registrar:v2.15.0-20251030
                  - name: CSI_LIVENESS_PROBE_IMAGE
                    value: {{ kustom.namespace }}/livenessprobe:v2.17.0-20251030
                command:
                - longhorn-manager
                - -d
                - deploy-driver
                - --manager-image
                - {{ kustom.namespace }}/longhorn-manager:{{ software.longhorn.version }}
                - --manager-url
                - http://longhorn-backend:9500/v1

  - target:
      kind: DaemonSet
      name: longhorn-manager
    patch: |-
      apiVersion: apps/v1
      kind: DaemonSet
      metadata:
        name: longhorn-manager
      spec:
        template:
          spec:
            containers:
              - name: longhorn-manager
                # Match the image field
                image: {{ kustom.namespace }}/longhorn-manager:{{ software.longhorn.version }}
                # Overwrite the arguments to use your local paths
                command:
                  - longhorn-manager
                  - -d
                  - daemon
                  - --engine-image
                  - {{ kustom.namespace }}/longhorn-engine:{{ software.longhorn.version }}
                  - --instance-manager-image
                  - {{ kustom.namespace }}/longhorn-instance-manager:{{ software.longhorn.version }}
                  - --share-manager-image
                  - {{ kustom.namespace }}/longhorn-share-manager:{{ software.longhorn.version }}
                  - --backing-image-manager-image
                  - {{ kustom.namespace }}/backing-image-manager:{{ software.longhorn.version }}
                  - --support-bundle-manager-image
                  - {{ kustom.namespace }}/support-bundle-kit:v0.0.71
                  - --manager-image
                  - {{ kustom.namespace }}/longhorn-manager:{{ software.longhorn.version }}
                  - --service-account
                  - longhorn-service-account
                  - --upgrade-version-check
