apiVersion: v1
kind: ConfigMap
metadata:
  name: deschedule-descheduler
  labels:
    app.kubernetes.io/name: descheduler
    app.kubernetes.io/instance: deschedule
    app.kubernetes.io/version: 0.33.0
data:
  policy.yaml: "apiVersion: \"descheduler/v1alpha2\"\nkind: \"DeschedulerPolicy\"\n\
    profiles:\n- name: default\n  pluginConfig:\n  - args:\n      podProtections:\n\
    \        defaultDisabled:\n        - PodsWithLocalStorage\n        extraEnabled:\n\
    \        - PodsWithPVC\n    name: DefaultEvictor\n  - name: RemoveDuplicates\n\
    \  - args:\n      includingInitContainers: true\n      podRestartThreshold: 100\n\
    \    name: RemovePodsHavingTooManyRestarts\n  - args:\n      nodeAffinityType:\n\
    \      - requiredDuringSchedulingIgnoredDuringExecution\n    name: RemovePodsViolatingNodeAffinity\n\
    \  - name: RemovePodsViolatingNodeTaints\n  - name: RemovePodsViolatingInterPodAntiAffinity\n\
    \  - name: RemovePodsViolatingTopologySpreadConstraint\n  - args:\n      targetThresholds:\n\
    \        cpu: 50\n        memory: 50\n        pods: 50\n      thresholds:\n  \
    \      cpu: 20\n        memory: 20\n        pods: 20\n    name: LowNodeUtilization\n\
    \  plugins:\n    balance:\n      enabled:\n      - RemoveDuplicates\n      - RemovePodsViolatingTopologySpreadConstraint\n\
    \      - LowNodeUtilization\n    deschedule:\n      enabled:\n      - RemovePodsHavingTooManyRestarts\n\
    \      - RemovePodsViolatingNodeTaints\n      - RemovePodsViolatingNodeAffinity\n\
    \      - RemovePodsViolatingInterPodAntiAffinity\n"
